<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE window PUBLIC "http://www.w3.org/2001/XMLSchema" "http://xbmc.org/xbmc.xsd">
<settings>
  <!-- General -->
  <category label="32000">
    <setting id="host" type="text" label="32001"  default="127.0.0.1" /> 
    <setting id="port" type="number" label="32002" default="3636" /> 
	  <setting id="notification" type="bool" label="32003" default="true" /> 
  </category>
  
  <category label="32010">
    <setting id="default_enable" type="bool" label="32011"  default="true" /> 
    <setting id="default_profile" type="text" label="32012" default="default" subsetting="true" visible="eq(-1,true)" /> 
    <setting id="audio_enable" type="bool" label="32015" default="true" />
    <setting id="audio_profile" type="text" label="32016" default="default" subsetting="true" visible="eq(-1,true)"   />
    <setting id="text" type = "lsep" label="32019" />
    <setting id="video_choice" type ="enum" label="32025" lvalues="32026|32027|32028|32029" default="2" />
    <setting id="video_profile" type="text" label="32014" default="default" subsetting="true" enable="eq(-1,0)"  />
    <setting id="directXBMC_enable" type="bool" label="32017" default="true" subsetting="true" enable="!eq(-2,3)" />

  </category>
</settings>