<settings>
  
  <category label="32001">
    <setting default="127.0.0.1" id="host" label="32002" type="text" />
    <setting default="3636" id="port" label="32003" type="number" />
	<setting default="true" id="notification" label="32004" type="bool" />
    <setting default="false" id="start_ambibox" label="32009" type="bool" />
    <setting default="true" id="disable_on_screensaver" label="32050" type="bool" value="true" />
    <setting action="RunScript($CWD\update.py)" label="32005" option="close" type="action" />
    <setting action="RunScript($CWD\downloadbox.py)" label="32040" type="action" />
    <setting default="false" id="optimize" label="32081" type="bool" />
    <setting default="on" id="manual_switch" label="32001" type="text" visible="false" />

  </category>

  <category label="32010">
    <setting default="true" id="default_enable" label="32011" type="bool" />
    <setting default="Default" id="default_profile" label="32012" subsetting="true" type="labelenum" values="None|Default" visible="eq(-1,true)" />
    <setting default="true" id="audio_enable" label="32015" type="bool" />
    <setting default="Default" id="audio_profile" label="32016" subsetting="true" type="labelenum" values="None|Default" visible="eq(-1,true)" />
    <setting id="text" label="32019" type="lsep" />
    <setting default="2" id="video_choice" label="32025" lvalues="32026|32027|32028|32029|32090" type="enum" />
    <setting default="Default" enable="eq(-1,0)" id="video_profile" label="32014" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-2,4)" id="XBMCD_profile" label="32084" type="labelenum" values="None|Default" />
    <setting default="0" enable="eq(-3,4)" id="directXBMC_quality" label="32043" lvalues="32044|32045|32046|32047" type="enum" />
    <setting default="100" enable="eq(-4,4)" id="throttle" label="32068" range="1,2.5,100" type="slider" />
    <setting default="0" enable="eq(-5,4)" id="delay" label="32082" option="int" range="0,25,2000" type="slider" />

    <setting default="true" id="show_menu" label="32023" type="bool" value="true" visible="false" />
    <setting default="true" id="use_threading" label="32078" type="bool" visible="false" />
    <setting default="true" id="instrumented" label="32079" type="bool" visible="false" />
 </category>
 <category label="32071">
    <setting label="32072" type="lsep" />
    <setting default="false" id="key_use_onoff" label="32073" type="bool" />
    <setting label="32069" type="lsep" />
    <setting default="false" enable="eq(-2,true)" id="key_on_shift" label="32074" type="bool" />
    <setting default="true" enable="eq(-3,true)" id="key_on_ctrl" label="32075" type="bool" />
    <setting default="false" enable="eq(-4,true)" id="key_on_alt" label="32076" type="bool" />
    <setting default="f7" enable="eq(-5,true)" id="key_on_str" label="32077" type="text" />
    <setting label="32070" type="lsep" />
    <setting default="false" enable="eq(-7,true)" id="key_off_shift" label="32074" type="bool" />
    <setting default="true" enable="eq(-8,true)" id="key_off_ctrl" label="32075" type="bool" />
    <setting default="false" enable="eq(-9,true)" id="key_off_alt" label="32076" type="bool" />
    <setting default="f8" enable="eq(-10,true)" id="key_off_str" label="32077" type="text" />
    <setting type="lsep" />
    <setting default="false" id="key_use_delay" label="32083" type="bool" />
    <setting label="32085" type="lsep" />
    <setting default="false" enable="eq(-2,true)" id="key_incr_shift" label="32074" type="bool" />
    <setting default="false" enable="eq(-3,true)" id="key_incr_ctrl" label="32075" type="bool" />
    <setting default="false" enable="eq(-4,true)" id="key_incr_alt" label="32076" type="bool" />
    <setting default="3" enable="eq(-5,true)" id="key_incr_str" label="32077" type="text" />
    <setting label="32086" type="lsep" />
    <setting default="false" enable="eq(-7,true)" id="key_decr_shift" label="32074" type="bool" />
    <setting default="false" enable="eq(-8,true)" id="key_decr_ctrl" label="32075" type="bool" />
    <setting default="false" enable="eq(-9,true)" id="key_decr_alt" label="32076" type="bool" />
    <setting default="1" enable="eq(-10,true)" id="key_decr_str" label="32077" type="text" />
    <setting type="lsep" />
    <setting default="false" id="key_use_cap" label="32087" type="bool" />
    <setting label="32088" type="lsep" />
    <setting default="false" enable="eq(-2,true)" id="key_cap_shift" label="32074" type="bool" />
    <setting default="false" enable="eq(-3,true)" id="key_cap_ctrl" label="32075" type="bool" />
    <setting default="false" enable="eq(-4,true)" id="key_cap_alt" label="32076" type="bool" />
    <setting default="5" enable="eq(-5,true)" id="key_cap_str" label="32077" type="text" />
    <setting default="special://profile/addon_data/script.ambibox/" enable="eq(-6,true)" id="key_cap_dir" label="32089" option="writeable" type="folder" />
 </category>
 <category label="32053">
    <setting label="32091" type="lsep" />
    <setting label="32092" type="lsep" />
    <setting default="Default" id="2D_43" label="32054" subsetting="true" type="labelenum" values="None|Default" visible="true" />
    <setting default="Default" id="2D_32" label="32055" subsetting="true" type="labelenum" values="None|Default" visible="true" />
    <setting default="Default" id="2D_169" label="32056" subsetting="true" type="labelenum" values="None|Default" visible="true" />
    <setting default="Default" id="2D_185" label="32057" subsetting="true" type="labelenum" values="None|Default" visible="true" />
    <setting default="Default" id="2D_22" label="32058" subsetting="true" type="labelenum" values="None|Default" visible="true" />
    <setting default="Default" id="2D_24" label="32059" subsetting="true" type="labelenum" values="None|Default" visible="true" />

 </category>
 <category label="32060">
    <setting label="32091" type="lsep" />
    <setting label="32092" type="lsep" />
    <setting default="false" id="3D_enable" label="32052" type="bool" value="false" />
    <setting label="32060" type="lsep" />
    <setting default="Default" enable="eq(-2,true)" id="3DS_43" label="32054" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-3,true)" id="3DS_32" label="32055" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-4,true)" id="3DS_169" label="32056" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-5,true)" id="3DS_185" label="32057" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-6,true)" id="3DS_22" label="32058" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-7,true)" id="3DS_24" label="32059" subsetting="true" type="labelenum" values="None|Default" />
    <setting label="32061" type="lsep" />
    <setting default="Default" enable="eq(-9,true)" id="3DT_43" label="32054" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-10,true)" id="3DT_32" label="32055" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-11,true)" id="3DT_169" label="32056" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-12,true)" id="3DT_185" label="32057" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-13,true)" id="3DT_22" label="32058" subsetting="true" type="labelenum" values="None|Default" />
    <setting default="Default" enable="eq(-14,true)" id="3DT_24" label="32059" subsetting="true" type="labelenum" values="None|Default" />
</category>
</settings>